<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Forge">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Forge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 热更新测试 Activity -->
        <activity
            android:name=".HotUpdateTestActivity"
            android:exported="false"
            android:label="热更新测试"
            android:theme="@style/Theme.Forge" />
        
        <!-- 占坑 Activity：用于启动未注册的 Activity -->
        <activity
            android:name="com.hrm.forge.loader.instrumentation.StubActivity"
            android:exported="false"
            android:theme="@style/Theme.Forge"
            android:launchMode="standard" />
    </application>

</manifest>